{% extends 'base.html' %}

{% block content %}
  <h1>All Items</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
          <tr>
            <td>{{ item.product_id }}</td>
            <td><a href="{% url 'item_detail' item.product_id %}">{{ item.name }}</a></td>
          </tr>
      {% endfor %}

    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">next</a>
            <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
